/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.local
!/resources/views/vendor/*
# User files
/public/css/*
/public/js/*
/public/img/*
/public/bookmarklets/*

# favicons
/public/android-chrome*.png
/public/apple-touch*.png
/public/icon*.png
/public/mstile*.png
/public/favicon.ico
/public/browserconfig.xml
/public/manifest.json