@import "accordion";

main {
    background-color: #eeeeee;
}

h1.title
h2.subtitle{
    padding-left: 3em;
}


.menu-list-dummy{
    border-radius: 2px;
    color: #69707a;
    display: block;
    padding: 5px 10px;
}

ol{
    padding-left: 2em;
}

.space-bottom{
    margin-bottom: 0.75em;
}

.filter-content{
    padding-bottom: 2em;

    .title.is-4{
        margin-bottom: 0.3em;   
    }
}

.sort{
    &.desc:after {
        content:"▼";
    }

    &.asc:after {
        content:"▲";
    }
}

.sort-key{
    display: none;
}

td.table-tag{
    padding-left: 0.15em;
    padding-right: 0.15em;
}

.tag{
    &.full-bell{
        background-color: #eec900;
        color: #fff; 
    }

    &.full-combo{
        background-color: #227223;
        color: #fff;
    }

    &.all-break{
        background-color: #e8822a;
        color: #fff;
    }
}

div.column{
    display: block;
    width: 100%;
    min-width: 0%;
    max-width: 100%;
}

.table-hidden-data{
    display: none;
}

.table_wrap{
    width: 100%;

    overflow-x: scroll;

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        margin: 0 2px;
        background: #ccc;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #666;
    }
}
