@import "fix_bulma";
@import "accordion";
@import "errors";
@import "menu_button";
// @import "sticky_table";
@import "user_progress";

body{
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-bottom: 0 !important;
    background-color: #eeeeee;
}

#sidebar{
    height: 100%;
}

.side_sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

footer{
    margin: 0;
    padding: 0.2em 0.8em;
    background-color: #242424;
    color: #ddd;
    a:hover{
        color: #b9b9b9;
    }
}

h1.title
h2.subtitle{
    padding-left: 3em;
}


.menu-list-dummy{
    border-radius: 2px;
    color: #69707a;
    display: block;
    padding: 5px 10px;
}

ol{
    padding-left: 2em;
}

p{
    margin-bottom: 0.75em;
}

.filter-content{
    padding-bottom: 2em;

    .title.is-4{
        margin-bottom: 0.3em;   
    }
}

.sort{
    &.desc:after {
        content:"▼";
    }

    &.asc:after {
        content:"▲";
    }
}

.sort-key{
    display: none;
}

td.table-tag{
    padding-left: 0.15em;
    padding-right: 0.15em;
}

.tag{
    &.full-bell{
        background-color: #c1b400;
        color: #fff; 
    }

    &.full-combo{
        background-color: #2b922d;
        color: #fff;
    }

    &.all-break{
        background-color: #e8822a;
        color: #fff;
    }

    &.not-light{
        background-color: #666;
        color: #fff;
    }

    &.developer{
        background-color: #3273DC;
        color: #fff;
    }
    &.net-standard{
        background-color: #2DCCB5;
        color: #fff;
    }
    &.net-premium{
        background-color: #ED87AC;
        color: #fff;
    }
}

div.column{
    display: block;
    width: 100%;
    min-width: 0%;
    max-width: 100%;
}

.table_wrap{
    width: 100%;
    overflow-y: scroll;
}

.table-hidden-data{
    display: none;
}

.music-list{
    max-width: 650px;
}

.estimated-rating{
    font-style: italic;
    color: #aaa;
}

.max-rating{
    font-weight: bold; 
    color: #a00;
}

.lamp{
    $fb: #c1b400;
    $fc: #2b922d;
    $ab: #e8822a;
    $none: #666;
    $separation: #ccc;

    @function lamp-gradient($isFB, $isFC, $isAB){
        @return linear-gradient(90deg, 
            if($isFB == true, $fb, $none) 32%, $separation 32%, $separation 35%, if($isFC == true, $fc, $none) 35%, if($isFC == true, $fc, $none) 65%, $separation 65%, $separation 68%, if($isAB == true, $ab, $none) 68%);
    }

    &.fbfcab{
        display: inline-block;
        width: 3em;
        height: 1em;
        // background: linear-gradient(90deg, #c1b400 33%,#2b922d 33%, #2b922d 66%, #e8822a 66%);
        background: lamp-gradient(true, true, true);
        border-radius: 0.5em;
    }

    &.__fcab{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(false, true, true);
        border-radius: 0.5em;
    }

    &.fb__ab{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(true, false, true);
        border-radius: 0.5em;
    }

    &.fbfc__{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(true, true, false);
        border-radius: 0.5em;
    }

    &.fb____{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(true, false, false);
        border-radius: 0.5em;
    }

    &.__fc__{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(false, true, false);
        border-radius: 0.5em;
    }

    &.____ab{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(false, false, true);
        border-radius: 0.5em;
    }

    &.______{
        display: inline-block;
        width: 3em;
        height: 1em;
        background: lamp-gradient(false, false, false);
        border-radius: 0.5em;
    }
}


